@import '../variables.scss';

.article {
  &:first-of-type {
    @include mb(64px);

  }
  .faqTtl {
    font-size: var(--fs24-18);
    font-weight: 500;
    @include pb(16px);
    border-bottom: 1px solid $g3;
  }

  ul {
    li {
      @include p(24px 0);
      border-bottom: 1px solid $g3;

      * {
        font-weight: 500;
        text-decoration: underline;

        &:hover {
          text-decoration: none !important;
        }
      }

      .ttl {
        font-size: var(--fs16-14);
        display: block;
        text-decoration: underline;
        @include mb(8px);
      }

      .btnBox {
        @include flex(center, left);
        @include gap(16px);

        .edit {
          font-size: var(--fs14-12);
        }

        .delete {
          font-size: var(--fs14-12);
          color: $red1;
        }
      }
    }
  }
}