@import '../../variables.scss';

.bottomArea {
  @include flex(stretch);
  @include gap(0, 0, 64px);
}

.imgBox {
  @include mb(16px);
  aspect-ratio: 103 / 76;
  overflow: hidden;

  @include media1(sp) {
    aspect-ratio: 1 / 1;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top center;
  }
}

.blogLink {
  composes: blogLink from './parts.scss';
  @include width(412px, calc(100% * 1/3 - 16px * 2/3), 100%);

  &:not(:first-of-type) {
    @include media1(sp) {
      display: flex;
      gap: 16px;

      .imgBox {
        min-width: 100px;
        max-width: 100px;
        max-height: 100px;
      }
    }
  }
}