@import '../../variables.scss';

.imgFlex {
  @include mb(16px);
  @include flex();
}

.imgBox {
  @include width(25%);
  aspect-ratio: 65 / 144;
  overflow: hidden;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.blogLink {
  composes: blogLink from './parts.scss';
}