@import '../../variables.scss';

.article {
  @include flex(stretch);
  @include gap(0, 0, 64px);
}

.imgBox {
  @include mb(16px);
}

.singleTxt {
  h3 {
    font-size: var(--fs18-16);
    font-weight: 500;
    @include mb(16px);
  }

  p {
    font-size: var(--fs14-12);
  }
}

.blogLink {
  composes: blogLink from './parts.scss';
  @include width(300px, calc(100% * 1/4 - 12px * 3/4), 100%);

  &:not(:first-of-type) {
    @include media1(sp) {
      display: flex;
      gap: 16px;

      .imgBox {
        min-width: 100px;
        max-width: 100px;
      }
    }
  }
}