@import '../../variables.scss';

.article {
  position: relative;

  .imgBox {
    overflow: hidden;
    width: 100%;
    aspect-ratio: 65 / 36;

    @include media1(sp) {
      aspect-ratio: 1 / 1;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
      transition: .3s ease-out;
    }
  }
}

.blogLink {
  composes: blogLink from './parts.scss';
}

.txtBox {
  composes: txtBox from './parts.scss';
}