@import '../../variables.scss';

.modalWrap {
  composes: modalWrap from './parts.scss';

  * {
    font-family: "平成明朝 Std";
  }

  &.open {
    opacity: 1;
    pointer-events: all;
  }
}

.modalBox {
  @include max-width(780px);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.topFlex {
  @include flex(center);

  .name {
    font-size: var(--fs20-18);
    font-weight: 500;
    color: $w1;
  }

  .close {
    @include width(56px);
    @include height(56px);
    @include flex(center, center);
    @include fs(32px);
    font-weight: bold;
    color: $w1;
    cursor: pointer;
  }
}

.modalArticle {
  background-color: $g2;
  @include p(32px);
}

.modalCont {
  @include p(0 18px 12px);
  border: 2px solid $g1;
  @include height(330px);
  overflow-y: scroll;
  background-color: $w1;
  position: relative;
}

.modalNav {
  position: sticky;
  top: 0;
  @include pt(12px);
  background-color: $w1;

  ul {
    @include flex(center, left);

    li {
      display: flex;
      align-items: center;

      a {
        @include fs(14px);
        font-weight: 700;
        @include p(0 6px);
        transition: .2s ease-out;

        &:hover {
          opacity: .5;
        }
      }

      .hr {
        width: 1px;
        @include height(14px);
        background-color: $g1;
      }

      &:last-of-type {
        a {
          padding-right: 0;
        }

        .hr {
          display: none;
        }
      }

      &:first-of-type {
        a {
          padding-left: 0;
        }
      }
    }
  }
}

.brandList {
  li {
    @include pt(32px);

    h4 {
      font-size: var(--fs24-16);
      font-weight: 700;
      @include mb(12px);
      border-bottom: 1px solid $g5;
    }

    .brandInputBox {
      @include flex(stretch, left);
      @include gap(12px 24px);

      label {
        @include width(calc(100% / 3 - 16px));
        @include pb(12px);
        border-bottom: 1px solid $g3;
        @include flex(center, left);
        @include gap(8px);
        cursor: pointer;
        transition: .2s ease-out;

        &:hover {
          opacity: .5;
        }

        input {
          color: $b1;
          border-radius: 50%;
          @include width(20px);
          @include height(20px);
          cursor: pointer;
        }
      }
    }
  }
}