@import '../../variables.scss';

.section2,
.section3 {
    @include pt(112px, 80px, 64px);
}

.wrapper {
    border-top: 1px solid $g3;
    border-bottom: 1px solid $g3;
    @include p(40px 0 64px, 40px 0);
}

.flex {
    @include flex();
    position: relative;
}

.noneLength {
    @include fs(16px, 14px);
    font-weight: 500;
    text-align: center;
    @include mt(40px, 32px);
}
