@import '../../variables.scss';

.sidebar {
  @include width(320px, 100%);
  height: 100vh;
  position: sticky;
  top: 32px;
  overflow: auto;

  @include media1(tab1) {
    @include mt(48px);
    height: auto;
  }
}