@import '../../variables.scss';

.block {
    @include mb(64px, 48px);

    &:last-of-type {
        @include mb(80px, 64px);
    }

    h3 {
        font-size: var(--fs40-24);
        letter-spacing: 0;
        @include mb(24px, 16px);
    }

    .flex {
        @include flex(center, left);
        @include gap(16px 40px, 16px 24px);

        a {
            font-size: var(--fs18-16);
            font-weight: 500;
            transition: 0.2s ease-out;

            &:hover {
                opacity: 0.5;
            }
        }
    }
}

.flex2 {
    @include flex(center, left);
    @include gap(24px);

    a {
        font-size: var(--fs32-18);
        letter-spacing: 0;
        transition: 0.2s ease-out;

        &:hover {
            opacity: 0.5;
        }
    }
}

.hr {
    width: 1px;
    @include height(40px, 32px, 24px);
    background-color: $g5;
    transform-origin: center;
    transform: rotate(20deg);
}
