/* フォント */
$nsj: 'Noto Sans JP', sans-serif;
$prompt: 'prompt', sans-serif;
$ivy: ivymode, sans-serif;
$Montserrat: 'Montserrat', sans-serif;
$YuGothic: 'YuGothic', 'Yu Gothic Medium', 'Yu Gothic', 'MS PGothic', 'Hiragino Kaku Gothic ProN', 'Meiryo', sans-serif;
$mintyo: 'YuMincho', 'Yu Mincho', 'MS PMincho', 'Hiragino Mincho ProN', serif;

/* カラー（色） */
$w1: #fff;
$b1: #000;
$b2: #222;
$b3: #121B2B;
$b4: #1E2F47;
$b5: #005CFF;
$g1: #888;
$g2: #F2F2F2;
$g3: #CCC;
$g4: #555;
$g5: #707070;
$g6: #F7F7F7;
$o1: #FF9933;
$red1: #FF0000;
$rgba1: rgba(0, 0, 0, .5);

$black: 900;
$bold: 700;
$semibold: 600;
$Demi: 600;
$medium :500;
$regular: 400;
$light: 300;

/* グラデーション */
$gd1: linear-gradient(transparent 10%, rgba(88, 88, 88, .82) 70%, $b2);

/*-------------------------     mixin1    -------------------------*/
$pc: 1341px;
$tab1: 1340px;
$tab2: 768px;
$sp: 767px;

// @media
$breakpoints: (
  'pc': $pc,
  'tab1': $tab1,
  'tab2': $tab2,
  'sp': $sp,
);

// max
@mixin media1($size) {
  @media screen and (max-width: #{map-get($breakpoints, $size)}) {
    @content;
  }
}

// min
@mixin media2($size) {
  @media screen and (min-width: #{map-get($breakpoints, $size)}) {
    @content;
  }
}

/*-------------------------     mixin2    -------------------------*/
// position
@mixin position($pc:absolute, $tab:$pc, $sp:$tab) {
  position: $pc;
  @include media1(tab1) {position: $tab;}
  @include media1(sp) {position: $sp;}
}

@mixin top($pc:0, $tab:$pc, $sp:$tab) {
  top: $pc;
  @include media1(tab1) {top: $tab;}
  @include media1(sp) {top: $sp;}
}

@mixin right($pc:0, $tab:$pc, $sp:$tab) {
  right: $pc;
  @include media1(tab1) {right: $tab;}
  @include media1(sp) {right: $sp;}
}

@mixin bottom($pc:0, $tab:$pc, $sp:$tab) {
  bottom: $pc;
  @include media1(tab1) {bottom: $tab;}
  @include media1(sp) {bottom: $sp;}
}

@mixin left($pc:0, $tab:$pc, $sp:$tab) {
  left: $pc;
  @include media1(tab1) {left: $tab;}
  @include media1(sp) {left: $sp;}
}

// translate
@mixin tx($pc:0, $tab:$pc, $sp:$tab) {
  transform: translateX($pc);
  @include media1(tab1) {transform: translateX($tab);}
  @include media1(sp) {transform: translateX($sp);}
}

@mixin ty($pc:0, $tab:$pc, $sp:$tab) {
  transform: translateY($pc);
  @include media1(tab1) {transform: translateY($tab);}
  @include media1(sp) {transform: translateY($sp);}
}

// font
@mixin fs($pc:0, $tab:$pc, $sp:$tab) {
  font-size: $pc;
  @include media1(tab1) {font-size: $tab;}
  @include media1(sp) {font-size: $sp;}
}

@mixin ls($pc:0, $tab:$pc, $sp:$tab) {
  letter-spacing: $pc;
  @include media1(tab1) {letter-spacing: $tab;}
  @include media1(sp) {letter-spacing: $sp;}
}

@mixin lh($pc:0, $tab:$pc, $sp:$tab) {
  line-height: $pc;
  @include media1(tab1) {line-height: $tab;}
  @include media1(sp) {line-height: $sp;}
}

// size
@mixin width($pc:0, $tab:$pc, $sp:$tab) {
  width: $pc;
  @include media1(tab1) {width: $tab;}
  @include media1(sp) {width: $sp;}
}

@mixin height($pc:0, $tab:$pc, $sp:$tab) {
  height: $pc;
  @include media1(tab1) {height: $tab;}
  @include media1(sp) {height: $sp;}
}

@mixin max-width($pc:0, $tab:$pc, $sp:$tab) {
  max-width: $pc;
  @include media1(tab1) {max-width: $tab;}
  @include media1(sp) {max-width: $sp;}
}

@mixin min-height($pc:0, $tab:$pc, $sp:$tab) {
  min-height: $pc;
  @include media1(tab1) {min-height: $tab;}
  @include media1(sp) {min-height: $sp;}
}

// padding
@mixin p($pc:0, $tab:$pc, $sp:$tab) {
  padding: $pc;
  @include media1(tab1) {padding: $tab;}
  @include media1(sp) {padding: $sp;}
}

@mixin pt($pc:0, $tab:$pc, $sp:$tab) {
  padding-top: $pc;
  @include media1(tab1) {padding-top: $tab;}
  @include media1(sp) {padding-top: $sp;}
}

@mixin pr($pc:0, $tab:$pc, $sp:$tab) {
  padding-right: $pc;
  @include media1(tab1) {padding-right: $tab;}
  @include media1(sp) {padding-right: $sp;}
}

@mixin pb($pc:0, $tab:$pc, $sp:$tab) {
  padding-bottom: $pc;
  @include media1(tab1) {padding-bottom: $tab;}
  @include media1(sp) {padding-bottom: $sp;}
}

@mixin pl($pc:0, $tab:$pc, $sp:$tab) {
  padding-left: $pc;
  @include media1(tab1) {padding-left: $tab;}
  @include media1(sp) {padding-left: $sp;}
}

// margin
@mixin m($pc:0, $tab:$pc, $sp:$tab) {
  margin: $pc;
  @include media1(tab1) {margin: $tab;}
  @include media1(sp) {margin: $sp;}
}

@mixin mt($pc:0, $tab:$pc, $sp:$tab) {
  margin-top: $pc;
  @include media1(tab1) {margin-top: $tab;}
  @include media1(sp) {margin-top: $sp;}
}

@mixin mr($pc:0, $tab:$pc, $sp:$tab) {
  margin-right: $pc;
  @include media1(tab1) {margin-right: $tab;}
  @include media1(sp) {margin-right: $sp;}
}

@mixin mb($pc:0, $tab:$pc, $sp:$tab) {
  margin-bottom: $pc;
  @include media1(tab1) {margin-bottom: $tab;}
  @include media1(sp) {margin-bottom: $sp;}
}

@mixin ml($pc:0, $tab:$pc, $sp:$tab) {
  margin-left: $pc;
  @include media1(tab1) {margin-left: $tab;}
  @include media1(sp) {margin-left: $sp;}
}

// display
@mixin display($pc:block, $tab:$pc, $sp:$tab) {
  display: $pc;
  @include media1(tab1) {display: $tab;}
  @include media1(sp) {display: $sp;}
}

// text-align
@mixin text-align($pc:left, $tab:$pc, $sp:$tab) {
  text-align: $pc;
  @include media1(tab1) {text-align: $tab;}
  @include media1(sp) {text-align: $sp;}
}

// etc
@mixin br($pc:0, $tab:$pc, $sp:$tab) {
  border-radius: $pc;
  @include media1(tab1) {border-radius: $tab;}
  @include media1(sp) {border-radius: $sp;}
}

@mixin tf($pc:0, $tab:$pc, $sp:$tab) {
  transform: $pc;
  @include media1(tab1) {transform: $tab;}
  @include media1(sp) {transform: $sp;}
}

/*-------------------------     mixin3    -------------------------*/
@mixin flex($ai:flex-start,$jc:space-between) {
  display: flex;
  flex-wrap: wrap;
  align-items: $ai;
  justify-content: $jc;
}

@mixin gap($pc:0, $tab:$pc, $sp:$tab) {
  gap: $pc;
  @include media1(tab1) {gap: $tab;}
  @include media1(sp) {gap: $sp;}
}

@mixin px($pc1: 0, $sp1: $pc1, $pc2: $pc1, $sp2: $sp1) {
  @include pr($pc1, $sp1);
  @include pl($pc2, $sp2);
}

@mixin py($pc1: 0, $sp1: $pc1, $pc2: $pc1, $sp2: $sp1) {
  @include pt($pc1, $sp1);
  @include pb($pc2, $sp2);
}
/*-------------------------     mixin5    -------------------------*/

/*-------------------------     共通部分    -------------------------*/
@mixin icon($pc:0, $tab:$pc, $sp:$tab) {
  @include width($pc, $tab, $sp);
  @include height($pc, $tab, $sp);
  border-radius: 50%;
  transition: .2s ease-out;

  &.on {
    background-color: $b3;

    * {
      color: $w1;
    }

    &:hover {
      background-color: $b3;
      opacity: .5;
    }
  }
}

@mixin userIcon($pc:0, $tab:$pc, $sp:$tab) {
  @include width($pc, $tab, $sp);
  @include height($pc, $tab, $sp);
  border-radius: 50%;
  overflow: hidden;

  img {
    object-fit: cover;
    object-position: center;
  }
}

@mixin trendIcon {
  @include flex(center, center);
  border-radius: 17px;
  border: 1px solid $g3;
  background: $w1;
  font-weight: $medium;

  button {
    @include fs(16px, 14px);
    @include p(4px 16px);
  }
}

@mixin scrollHidden {
  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

@mixin btn1($pcw:0, $pch:0, $tabw:$pcw, $tabh:$pch, $spw:$tabw, $sph:$tabh) {
  @include width($pcw, $tabw, $spw);
  @include height($pch, $tabh, $sph);
  @include flex(center, center);
  @include fs(18px, 16px);
  border-radius: 28px;
  background-color: $b3;
  color: $w1;
  box-shadow: 8px 8px rgba(0, 0, 0, .16);
  font-weight: 500;
  letter-spacing: 0;
  transition: .2s ease-out;

  &:hover {
    box-shadow: none;
    transform: translate(8px, 8px);
  }

  @include media1(tab1) {
    box-shadow: 4px 4px rgba(0, 0, 0, .16);

    &:hover {
      transform: translate(4px, 4px);
    }
  }
}

@mixin btn4($pc:0, $tab:$pc, $sp:$tab) {
  background: $o1;
  color: $w1;
  @include fs(18px, 14px, 16px);
  font-weight: $bold;
  border-radius: 20px;
  text-align: center;
  @include width($pc, $tab, $sp);
  @include height(100px, 80px);
  @include flex(center, center);
  flex-direction: column;
  background-image: url(../images/dellamall/login/loginNew.svg);
  background-repeat: no-repeat;
  background-position: calc(100% - 24px) center;

  @include media1(tab1) {
    background-position: calc(100% - 8px) center;
    background-size: 20px;
  }

  span {
    @include fs(13px, 11px);
    font-weight: $bold;
    color: $w1;
    display: block;
  }
}

@mixin input($pc:0, $tab:$pc, $sp:$tab) {
  @include px(24px, 20px);
  @include width($pc, $tab, $sp);
  @include height(56px, 48px);
  @include fs(18px, 14px);
  display: block;
  border: 1px solid $g4;
  border-radius: 20px;

  &::placeholder {
    font-weight: $medium;
    color: $g3;
  }
}

@mixin textarea($pc:0, $tab:$pc, $sp:$tab) {
  @include px(24px, 20px);
  @include width($pc, $tab, $sp);
  @include height(240px, 200px);
  @include fs(18px, 14px);
  display: block;
  border: 1px solid $g4;
  border-radius: 20px;
}

@mixin select($pc:0, $tab:$pc, $sp:$tab) {
  @include px(24px, 20px);
  @include width($pc, $tab, $sp);
  @include height(56px, 48px);
  @include fs(16px, 14px);
  display: block;
  border: 1px solid $g4;
  border-radius: 20px;
}

@mixin activeBox($pc:0, $tab:$pc, $sp:$tab) {
  @include width($pc, $tab, $sp);
  @include pt(24px, 16px);
  max-width: unset;
  background-color: $w1;
  border: 3px solid $g3;
  box-shadow: 8px 8px rgba(0, 0, 0, 0.16);
  position: absolute;
  @include top(48px);
  left: 50%;
  transform: translateX(-50%);
  z-index: 3;
}

@mixin modalBox {
  width: 100vw;
  height: 100vh;
  @include p(80px 0, 64px 0, 40px 0);
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  cursor: pointer;
  z-index: 999;
}
/*-------------------------     共通部分    -------------------------*/