/* フォント */
$nsj: 'Noto Sans JP', sans-serif;
$prompt: 'prompt', sans-serif;
$ivy: ivymode, sans-serif;
$Montserrat: 'Montserrat', sans-serif;
$Poppins: 'Poppins', sans-serif;
$YuGothic: 'YuGothic', 'Yu Gothic Medium', 'Yu Gothic', 'MS PGothic', 'Hiragino Kaku Gothic ProN', 'Meiryo', sans-serif;
$mintyo: 'YuMincho', 'Yu Mincho', 'MS PMincho', 'Hiragino Mincho ProN', serif;

/* カラー（色） */
$w1: #fff;
$b1: #000;
$b2: #222;
$b3: #121B2B;
$b4: #1E2F47;
$b5: #005CFF;
$b6: #333;
$b7: #1C0709;
$b8: #24305E;
$b9: #F0F7FE;
$b10: #006EFF;
$b11: #B3D1FF;
$b12: #2A66C1;
$b13: #5096ff;
$b14: #003CFF;
$g1: #888;
$g2: #F2F2F2;
$g3: #CCC;
$g4: #555;
$g5: #707070;
$g6: #F7F7F7;
$g7: #E1E1E1;
$g8: #CDD3DA;
$g9: #F4F4F4;
$g10: #53B2A5;
$g11: #adadad;
$g12: #ddd;
$g13: #f5f5f5;
$g14: #c0c0c0;
$o1: #FF9933;
$o2: #FFBB61;
$o3: #FFF7EC;
$o4: #EA8272;
$o5: #ff8e6f;
$y1: #EBE76A;
$y2: #ffd700;
$p1: #E15FA5;
$p2: #f77ee6;
$r1: #FF0000;
$r2: #F76C6C;
$rgba1: rgba(0, 0, 0, .5);
$gr1: linear-gradient(to right, $r2 0%, $o2 100%);
$gr2: linear-gradient(to right, #FFA8A8 0%, $r2 100%);

/* グラデーション */
$gd1: linear-gradient(transparent 10%, rgba(88, 88, 88, .82) 70%, $b2);

/*-------------------------     mixin1    -------------------------*/
$bigPc: 1920px;
$smPc: 1921px;
$pc: 1341px;
$tab1: 1340px;
$tab2: 768px;
$sp: 767px;

// @media
$breakpoints: (
  'bigPc': $bigPc,
  'smPc': $smPc,
  'pc': $pc,
  'tab1': $tab1,
  'tab2': $tab2,
  'sp': $sp,
);

// max
@mixin media1($size) {
  @media screen and (max-width: #{map-get($breakpoints, $size)}) {
    @content;
  }
}

// min
@mixin media2($size) {
  @media screen and (min-width: #{map-get($breakpoints, $size)}) {
    @content;
  }
}

/*-------------------------     mixin2    -------------------------*/
// position
@mixin position($pc:absolute, $tab:$pc, $sp:$tab) {
  position: $pc;
  @include media1(tab1) {position: $tab;}
  @include media1(sp) {position: $sp;}
}

@mixin top($pc:0, $tab:$pc, $sp:$tab) {
  top: $pc;
  @include media1(tab1) {top: $tab;}
  @include media1(sp) {top: $sp;}
}

@mixin right($pc:0, $tab:$pc, $sp:$tab) {
  right: $pc;
  @include media1(tab1) {right: $tab;}
  @include media1(sp) {right: $sp;}
}

@mixin bottom($pc:0, $tab:$pc, $sp:$tab) {
  bottom: $pc;
  @include media1(tab1) {bottom: $tab;}
  @include media1(sp) {bottom: $sp;}
}

@mixin left($pc:0, $tab:$pc, $sp:$tab) {
  left: $pc;
  @include media1(tab1) {left: $tab;}
  @include media1(sp) {left: $sp;}
}

// translate
@mixin tx($pc:0, $tab:$pc, $sp:$tab) {
  transform: translateX($pc);
  @include media1(tab1) {transform: translateX($tab);}
  @include media1(sp) {transform: translateX($sp);}
}

@mixin ty($pc:0, $tab:$pc, $sp:$tab) {
  transform: translateY($pc);
  @include media1(tab1) {transform: translateY($tab);}
  @include media1(sp) {transform: translateY($sp);}
}

// font
@mixin fs($pc:0, $tab:$pc, $sp:$tab) {
  font-size: $pc;
  @include media1(tab1) {font-size: $tab;}
  @include media1(sp) {font-size: $sp;}
}

@mixin ls($pc:0, $tab:$pc, $sp:$tab) {
  letter-spacing: $pc;
  @include media1(tab1) {letter-spacing: $tab;}
  @include media1(sp) {letter-spacing: $sp;}
}

@mixin lh($pc:0, $tab:$pc, $sp:$tab) {
  line-height: $pc;
  @include media1(tab1) {line-height: $tab;}
  @include media1(sp) {line-height: $sp;}
}

// size
@mixin width($pc:0, $tab:$pc, $sp:$tab) {
  width: $pc;
  @include media1(tab1) {width: $tab;}
  @include media1(sp) {width: $sp;}
}

@mixin height($pc:0, $tab:$pc, $sp:$tab) {
  height: $pc;
  @include media1(tab1) {height: $tab;}
  @include media1(sp) {height: $sp;}
}

@mixin max-width($pc:0, $tab:$pc, $sp:$tab) {
  max-width: $pc;
  @include media1(tab1) {max-width: $tab;}
  @include media1(sp) {max-width: $sp;}
}

@mixin min-height($pc:0, $tab:$pc, $sp:$tab) {
  min-height: $pc;
  @include media1(tab1) {min-height: $tab;}
  @include media1(sp) {min-height: $sp;}
}

// padding
@mixin p($pc:0, $tab:$pc, $sp:$tab) {
  padding: $pc;
  @include media1(tab1) {padding: $tab;}
  @include media1(sp) {padding: $sp;}
}

@mixin pt($pc:0, $tab:$pc, $sp:$tab) {
  padding-top: $pc;
  @include media1(tab1) {padding-top: $tab;}
  @include media1(sp) {padding-top: $sp;}
}

@mixin pr($pc:0, $tab:$pc, $sp:$tab) {
  padding-right: $pc;
  @include media1(tab1) {padding-right: $tab;}
  @include media1(sp) {padding-right: $sp;}
}

@mixin pb($pc:0, $tab:$pc, $sp:$tab) {
  padding-bottom: $pc;
  @include media1(tab1) {padding-bottom: $tab;}
  @include media1(sp) {padding-bottom: $sp;}
}

@mixin pl($pc:0, $tab:$pc, $sp:$tab) {
  padding-left: $pc;
  @include media1(tab1) {padding-left: $tab;}
  @include media1(sp) {padding-left: $sp;}
}

// margin
@mixin m($pc:0, $tab:$pc, $sp:$tab) {
  margin: $pc;
  @include media1(tab1) {margin: $tab;}
  @include media1(sp) {margin: $sp;}
}

@mixin mt($pc:0, $tab:$pc, $sp:$tab) {
  margin-top: $pc;
  @include media1(tab1) {margin-top: $tab;}
  @include media1(sp) {margin-top: $sp;}
}

@mixin mr($pc:0, $tab:$pc, $sp:$tab) {
  margin-right: $pc;
  @include media1(tab1) {margin-right: $tab;}
  @include media1(sp) {margin-right: $sp;}
}

@mixin mb($pc:0, $tab:$pc, $sp:$tab) {
  margin-bottom: $pc;
  @include media1(tab1) {margin-bottom: $tab;}
  @include media1(sp) {margin-bottom: $sp;}
}

@mixin ml($pc:0, $tab:$pc, $sp:$tab) {
  margin-left: $pc;
  @include media1(tab1) {margin-left: $tab;}
  @include media1(sp) {margin-left: $sp;}
}

// display
@mixin display($pc:block, $tab:$pc, $sp:$tab) {
  display: $pc;
  @include media1(tab1) {display: $tab;}
  @include media1(sp) {display: $sp;}
}

// text-align
@mixin text-align($pc:left, $tab:$pc, $sp:$tab) {
  text-align: $pc;
  @include media1(tab1) {text-align: $tab;}
  @include media1(sp) {text-align: $sp;}
}

// etc
@mixin br($pc:0, $tab:$pc, $sp:$tab) {
  border-radius: $pc;
  @include media1(tab1) {border-radius: $tab;}
  @include media1(sp) {border-radius: $sp;}
}

@mixin tf($pc:0, $tab:$pc, $sp:$tab) {
  transform: $pc;
  @include media1(tab1) {transform: $tab;}
  @include media1(sp) {transform: $sp;}
}

/*-------------------------     mixin3    -------------------------*/
@mixin flex($ai:flex-start,$jc:space-between) {
  display: flex;
  flex-wrap: wrap;
  align-items: $ai;
  justify-content: $jc;
}

@mixin gap($pc:0, $tab:$pc, $sp:$tab) {
  gap: $pc;
  @include media1(tab1) {gap: $tab;}
  @include media1(sp) {gap: $sp;}
}

@mixin px($pc1: 0, $sp1: $pc1, $pc2: $pc1, $sp2: $sp1) {
  @include pr($pc1, $sp1);
  @include pl($pc2, $sp2);
}

@mixin py($pc1: 0, $sp1: $pc1, $pc2: $pc1, $sp2: $sp1) {
  @include pt($pc1, $sp1);
  @include pb($pc2, $sp2);
}
/*-------------------------     mixin5    -------------------------*/

/*-------------------------     共通部分    -------------------------*/
@mixin icon($pc:0, $tab:$pc, $sp:$tab) {
  @include width($pc, $tab, $sp);
  @include height($pc, $tab, $sp);
  border-radius: 50%;
  transition: .2s ease-out;

  &.on {
    background-color: $b3;

    * {
      color: $w1;
    }

    &:hover {
      background-color: $b3;
      opacity: .5;
    }
  }
}

@mixin userIcon($pc:0, $tab:$pc, $sp:$tab) {
  @include width($pc, $tab, $sp);
  @include height($pc, $tab, $sp);
  border-radius: 50%;
  overflow: hidden;

  img {
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
}

@mixin trendIcon {
  @include flex(center, center);
  border-radius: 17px;
  border: 1px solid $g3;
  background-color: $w1;
  font-weight: 500;

  &.current {
    background-color: $o1;

    button,
    a {
      color: $w1;
    }
  }

  button,
  a {
    @include fs(16px, 14px);
    @include p(4px 16px);
  }
}

@mixin scrollHidden {
  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

@mixin btn1($pcw:0, $pch:0, $tabw:$pcw, $tabh:$pch, $spw:$tabw, $sph:$tabh) {
  @include width($pcw, $tabw, $spw);
  @include height($pch, $tabh, $sph);
  @include flex(center, center);
  @include fs(18px, 16px);
  border-radius: 28px;
  background-color: $b3;
  color: $w1;
  box-shadow: 8px 8px rgba(0, 0, 0, .16);
  font-weight: 500;
  letter-spacing: 0;
  transition: .2s ease-out;

  &:hover {
    box-shadow: none;
    transform: translate(8px, 8px);
  }

  @include media1(tab1) {
    box-shadow: 4px 4px rgba(0, 0, 0, .16);

    &:hover {
      transform: translate(4px, 4px);
    }
  }
}

@mixin btn4($pc:0, $tab:$pc, $sp:$tab) {
  background: $o1;
  color: $w1;
  @include fs(18px, 14px, 16px);
  font-weight: bold;
  border-radius: 20px;
  text-align: center;
  @include width($pc, $tab, $sp);
  @include height(100px, 80px);
  @include flex(center, center);
  flex-direction: column;
  background-image: url(../images/dellamall/login/loginNew.svg);
  background-repeat: no-repeat;
  background-position: calc(100% - 24px) center;

  @include media1(tab1) {
    background-position: calc(100% - 8px) center;
    background-size: 20px;
  }

  span {
    @include fs(13px, 11px);
    font-weight: bold;
    color: $w1;
    display: block;
  }
}

@mixin input($pc:0, $tab:$pc, $sp:$tab) {
  @include px(24px, 20px);
  @include width($pc, $tab, $sp);
  @include height(56px, 48px);
  @include fs(18px, 14px);
  display: block;
  border: 1px solid $g4;
  border-radius: 20px;

  &::placeholder {
    font-weight: 500;
    color: $g3;
  }
}

@mixin textarea($pc:0, $tab:$pc, $sp:$tab) {
  @include px(24px, 20px);
  @include width($pc, $tab, $sp);
  @include height(240px, 200px);
  @include fs(18px, 14px);
  display: block;
  border: 1px solid $g4;
  border-radius: 20px;
}

@mixin select($pc:0, $tab:$pc, $sp:$tab) {
  @include px(24px, 20px);
  @include width($pc, $tab, $sp);
  @include height(56px, 48px);
  @include fs(16px, 14px);
  display: block;
  border: 1px solid $g4;
  border-radius: 20px;
}

@mixin activeBox($pc:0, $tab:$pc, $sp:$tab) {
  @include width($pc, $tab, $sp);
  @include pt(24px, 16px);
  max-width: unset;
  background-color: $w1;
  border: 3px solid $g3;
  box-shadow: 8px 8px rgba(0, 0, 0, 0.16);
  position: absolute;
  @include top(48px);
  left: 50%;
  transform: translateX(-50%);
  z-index: 3;
}

@mixin modalBox {
  width: 100vw;
  height: 100vh;
  @include p(80px 0, 64px 0, 40px 0);
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  cursor: pointer;
  z-index: 999;
}

@mixin corapuraTtl {
  @include flex(flex-end, left);
  @include mb(32px, 24px, 16px);

  @include media1(sp) {
    justify-content: center;
  }

  img {
    @include width(240px, 200px, 180px);
  }

  span {
    @include fs(24px, 18px);
    font-weight: 900;
    line-height: 1;
  }
}

@mixin btn {
  @include width(384px);
  @include height(64px);
  @include flex(center, center);
  @include gap(16px);
  background-image: $gr1;
  border-radius: 36px;
  margin: auto;
  @include mt(48px, 40px);
  transition: .2s ease;

  span {
    @include fs(16px);
    font-weight: bold;
    color: $w1;
  }

  &.reverse {
    background-image: unset;
    background-color: $w1;

    span {
      color: $r2;
    }
  }

  &:hover {
    opacity: .8;
  }
}

@mixin btn2 {
  width: fit-content;
  @include flex(center);
  gap: 8px;
  @include fs(16px, 14px);
  color: $r2;
  font-weight: 900;
  text-decoration: underline;
  margin-left: auto;
  @include mr(0, 0, auto);
  @include mt(4px, 4px, 32px);

  &:hover {
    text-decoration: none;
  }
}

@mixin faq {
  border-top: 2px solid $g2;

  dl {
    border-bottom: 2px solid $g2;
    @include p(24px 16px);

    dt {
      @include flex(center);
      @include gap(16px, 16px, 8px);
      cursor: pointer;

      div {
        width: 20px;
        @include fs(24px);
        font-weight: 600;
        color: $b8;
      }

      p {
        @include width(calc(100% - (20px + 24px + 16px * 2)), calc(100% - (20px * 2 + 16px * 2)), calc(100% - (20px * 2 + 8px * 2)));
        @include fs(18px, 16px);
        font-weight: 900;
      }

      img {
        @include width(24px, 20px)
      }
    }

    dd {
      @include pt(0);
      @include pl(36px, 36px, 28px);
      overflow: hidden;
      max-height: 0;

      p {
        @include fs(16px, 14px);
        font-weight: 500;
        color: $g4;
      }
    }

    &.current {
      background-color: $o3;

      dd {
        @include pt(24px);
        max-height: 100%;
      }
    }
  }
}

@mixin side($color) {
  position: relative;

  &::before,
  &::after {
    content: "";
    @include width(88px, 20px, 0px);
    height: 100%;
    position: absolute;
    top: 0;
    z-index: 1;
  }

  &::before {
    left: 0;
    background-image: linear-gradient(to left, rgba(242, 242, 242, 0), $color);
  }

  &::after {
    right: 0;
    background-image: linear-gradient(to right, rgba(242, 242, 242, 0), $color);
  }
}

@mixin companyNicename($pc:0, $tab:$pc, $sp:$tab) {
  @include flex(center, left);
  flex-wrap: nowrap;
  @include gap(10px);
  @include fs($pc, $tab, $sp);
  font-weight: bold;
  color: $g1;
  white-space: pre-wrap;

  .logoBox {
    @include width(40px, 32px);
    @include height(40px, 32px);
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0 3px 6px rgba(0, 0, 0, .16);
    background-color: $w1;
    object-fit: cover;
    object-position: center;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: top center;
    }
  }
}

@mixin tag {
  @include p(2px 16px);
  border-radius: 12px;
  background-color: $w1;
  @include fs(13px, 11px);
  font-weight: bold;
}

@mixin tag2 {
  @include p(2px 8px);
  @include fs(14px, 12px);
  font-weight: 500;
  color: $r2;
  border: 1px solid $r2;
  border-radius: 12px;
  width: fit-content;
}

@mixin corapuraBookmark($pc:0, $tab:$pc, $sp:$tab) {
  @include width(40px, 30px);
  @include height(40px, 30px);
  @include flex(center, center);
  border-radius: 50%;
  position: absolute;
  @include top($pc, $tab, $sp);
  @include right(16px);
}

@mixin searchBox {
  @include width(900px, 100%);
  margin: auto;
  @include mb(64px, 48px);
  position: relative;

  input[type="text"] {
    display: block;
    width: 100%;
    @include height(64px, 56px, 48px);
    @include p(0 40px, 0 40px, 0 20px);
    @include fs(16px, 14px);
    font-weight: bold;
    background-color: $g2;
    border-radius: 32px;
    border: none;

    &::placeholder {
      color: $g3;
    }
  }

  button {
    position: absolute;
    top: 50%;
    @include right(40px, 40px, 20px);
    transform: translateY(-50%);
    transition: .3s ease;

    &:hover {
      opacity: .5;
    }
  }
}

@mixin column3 {
  @include flex(stretch, left);
  @include gap(32px, 32px 24px, 32px 16px);

  @include media1(sp) {
    justify-content: center;
  }
}

@mixin pager {
  @include flex(center, center);
  @include gap(48px, 32px, 16px);

  @include media1(sp) {
    flex-direction: column;
  }

  .btn {
    @include btn;
    @include width(296px, 200px);
    @include height(64px, 48px);
    @include m(0);
  }

  .pagerBtn {
    @include flex(center);
    @include gap(8px);

    button {
      @include width(40px);
      @include height(40px);
      border-radius: 50%;
      background-color: $g2;
      color: $r2;
      @include fs(20px, 16px);
      font-weight: 600;

      &.current {
        background-color: $r2;
        color: $w1;
        cursor: auto;
      }
    }
  }
}

@mixin sort {
  position: relative;
  @include mb(24px);

  .btn {
    @include flex(center, left);
    @include gap(8px);
    @include fs(16px, 14px);
    font-weight: bold;

    .icon {
      @include width(20px, 18px);
    }
  }

  .box {
    position: absolute;
    @include top(40px);
    left: 0;
    @include width(240px);
    max-width: unset;
    border-radius: 10px;
    background-color: $w1;
    overflow: hidden;
    z-index: 3;

    button {
      display: block;
      width: 100%;
      text-align: left;
      @include p(8px 40px);
      @include fs(16px, 14px);
      font-weight: bold;

      &.current {
        background-color: $g9;
        background-image: url(../images/corapura/parts/check2.svg);
        background-repeat: no-repeat;
        background-position: 16px center;
      }

      label {
        display: block;

        input[type="radio"] {
          display: none;
        }
      }
    }
  }
}

@mixin createLink {
  @include p(8px 16px);
  @include flex(center, center);
  @include gap(24px);
  @include fs(16px, 14px);
  font-weight: 500;
  color: $b8;
  border-radius: 20px;
  border: 2px solid $b8;
  width: fit-content;
  position: relative;
  transition: .3s ease;
  overflow: hidden;

  &::after {
    content: "";
    display: block;
    @include width(32px);
    @include height(32px);
    border-radius: 50%;
    background-color: $b8;
    position: absolute;
    top: 50%;
    @include left(8px);
    transform: translateY(-50%);
    z-index: -1;
    transition: .3s ease;
  }

  &:hover {
    color: $w1;

    &::after {
      transform: scale(20);
    }
  }
}

@mixin bjcInput($pc:0, $tab:$pc, $sp:$tab) {
  @include width($pc, $tab, $sp);
  @include height(64px, 48px);
  @include p(0 24px, 0 16px);
  border-radius: 10px;
  background-color: $g13;
  border: none;

  &::placeholder {
    color: $g3;
  }
}

@mixin bjcTextarea {
  width: 100%;
  @include height(260px, 240px);
  @include p(20px 24px, 16px);
  border-radius: 10px;
  background-color: $g13;
  border: none;

  &::placeholder {
    color: $g3;
  }
}

@mixin bjcCheckbox {
  @include flex(center, left);
  @include gap(0 32px, 0 24px, 0 16px);

  label {
    @include flex(center, center);
    @include gap(8px);
    @include fs(16px, 14px);
    font-weight: 500;
    cursor: pointer;

    input[type="checkbox"] {
      @include width(16px, 14px);
      @include height(16px, 14px);
      cursor: pointer;
    }
  }
}

@mixin bjcBtn {
  @include width(240px);
  @include height(48px);
  @include flex(center, center);
  @include fs(14px);
  font-weight: bold;
  color: $w1;
  background-color: $b6;
  border-radius: 36px;
  margin: auto;
}

@mixin bjcCourse {
  @include flex(center, left);
  @include gap(32px, 32px, 16px);

  .courseBtn {
    @include width(208px, calc(100% * 1/3 - 32px * 2/3), 100%);
    @include height(144px, 144px, unset);
  }

  label {
    width: 100%;
    height: 100%;
    @include flex(center, flex-end);
    @include gap(0, 0, 15px);
    @include p(0 0 16px, 0 0 16px, 16px);
    flex-direction: column;
    background-color: $g13;
    border-radius: 10px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, .16);
    transition: .3s ease;
    cursor: pointer;

    &:hover {
      background-color: $b13;
      background-image: url(../../public/top/course_check.svg);
      background-position: 12px 12px;
      background-repeat: no-repeat;

      * {
        color: $w1;
      }
    }

    @include media1(sp) {
      justify-content: center;
    }
  }

  .planName {
    @include fs(13px, 13px, 12px);
    font-weight: bold;
    color: $g11;
    text-align: center;
    @include height(55px, 55px, unset);
    @include flex(center, center);
  }

  .planPrice {
    @include flex(center, center);

    span {
      display: block;
      font-weight: bold;

      &.sm {
        @include fs(16px, 16px, 14px);
      }

      &.medium {
        @include fs(24px, 24px, 20px);
      }

      &.big {
        @include fs(32px, 32px, 24px);
      }
    }
  }

  input[type="radio"],
  .changePlanInput {
    display: none;

    &:checked ~ label {
      background-color: $b13;
      background-image: url(../../public/top/course_check.svg);
      background-position: 12px 12px;
      background-repeat: no-repeat;

      * {
        color: $w1;
      }
    }
  }
}
/*-------------------------     共通部分    -------------------------*/