@import '../../variables.scss';

.modalArea {
  @include modalBox;
  background-color: transparent;
  @include pt(96px, 96px, 64px);

  .modalBox {
    @include width(400px, 380px, 320px);
    @include height(calc(100vh - 120px), calc(100vh - 120px), 500px);
    background-color: $w1;
    border-radius: 20px;
    margin-left: auto;
    margin-right: 10px;
    margin-top: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .4);
    @include p(32px 20px);
    cursor: auto;
    overflow-y: scroll;
    @include scrollHidden;

    .ttl {
      @include fs(24px, 18px);
      font-weight: bold;
      text-align: center;
      @include mb(16px);
    }

    ul {
      li {
        a {
          @include flex(center, left);
          @include gap(16px, 8px);
          @include p(16px 0);
          border-bottom: 1px solid $g3;

          .imgBox {
            @include width(40px, 32px);
            aspect-ratio: 1 / 1;
            overflow: hidden;
            border-radius: 50%;
            background-color: $g1;

            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
          }

          span {
            @include fs(16px, 14px);
          }

          &:hover {
            span {
              text-decoration: underline;
            }
          }
        }
      }
    }

    .moreBtn {
      @include flex(center, center);
      @include width(200px, 160px);
      @include height(48px, 40px);
      @include fs(16px, 14px);
      background-color: $b8;
      color: $w1;
      border-radius: 8px;
      margin: auto;
      @include mt(40px, 32px);
    }
  }
}