@import '../../variables.scss';

.footer {
    position: relative;
    @include pt(80px, 64px);

    .footer1 {
        text-align: center;
        @include pb(80px, 64px);

        .footer1__title {
            @include fs(20px, 18px);
            font-weight: 600;
            @include mb(24px);
        }

        .footer1__list {
            @include flex(center, center);
            gap: 8px;

            @include media1(sp) {
                flex-direction: column;
            }

            a {
                display: block;
                @include width(
                    calc(100% * 1 / 4 - 6px),
                    calc(100% * 1 / 4 - 6px),
                    274px
                );
            }
        }
    }

    .footer2 {
        @include p(40px 0 32px);
        background: $o3;
    }

    .footer__cont1 {
        @include flex(stretch);

        @include media1(sp) {
            flex-direction: column;
            align-items: center;
        }

        .footer__logo {
            display: block;
            @include width(316px, 240px);
            @include m(0, 0, 0 auto 24px);
        }

        .footer__cont1List {
            @include flex(center);
            @include gap(24px, 16px);
            @include width(500px, 425px);

            @include media1(sp) {
                flex-direction: column;
            }

            .footer__cont1Item {
                @include fs(14px, 12px);
                font-weight: bold;
                @include width(
                    calc(100% * 1 / 3 - 16px),
                    calc(100% * 1 / 3 - 16px),
                    fit-content
                );
            }
        }
    }

    .footer__cont2 {
        @include flex(flex-end);
        @include pb(24px);
        border-bottom: 1px solid $g3;

        @include media1(sp) {
            flex-direction: column;
            align-items: center;
            margin-top: 24px;
        }

        .footer__cont2Left {
            @include fs(12px, 10px);
            font-weight: 500;
            color: $g1;

            a {
                color: $g1;
                @include fs(12px, 10px);
                font-weight: 500;
                text-decoration: underline;

                &:hover {
                    text-decoration: none;
                }
            }
        }

        .footer__cont2Right {
            @include fs(12px, 10px);
            color: $g3;

            @include media1(sp) {
                margin-top: 24px;
            }
        }
    }

    .footer__cont3 {
        @include flex(center, center);
        @include pt(24px);
        @include gap(32px, 16px);

        @include media1(sp) {
            flex-direction: column;
        }

        .footer__cont3Item {
            @include fs(14px, 12px);
        }
    }

    .to__top {
        position: absolute;
        bottom: 0;
        right: 0;
        @include width(100px, 80px);
    }
}
