@import '../../variables.scss';

.mv {
  .mvBox {
    width: 100%;
  }
}

.canDo {
  @include width(calc(100% - ((100% - 1120px) * 1/2)), calc(100% - ((100% - 720px) * 1/2)), 100%);
  @include p(96px 0 0, 80px 0 0, 48px 20px 0);
  @include ml(auto, auto, 0);
}

.whatArea {
  @include pt(120px, 80px, 48px);

  .ttl {
    @include corapuraTtl;
    justify-content: center;
  }

  .imgBox {
    @include width(711px, 500px, 100%);
    margin: auto;
    @include mb(32px, 24px);
  }

  .cont3__text1,
  .cont3__text2 {
    @include fs(16px, 14px, 14px);
    font-weight: $medium;
    color: #555555;
    text-align: center;
  }

  .txt {
    @include fs(16px, 14px);
    font-weight: 500;
    text-align: center;

    &:nth-of-type(1) {
      @include mb(48px, 24px);
    }
  }
}

.recommendArea {
  text-align: center;
  @include pt(80px, 80px, 48px);

  .ttl {
    @include fs(24px, 20px);
    font-weight: $black;
    color: $b8;
    @include mb(40px, 24px);
  }

  .imgBox {
    width: 100%;

    img {
      margin: auto;
    }
  }
}

.meritArea {
  @include pt(96px, 80px, 48px);
}