@import '../../variables.scss';

.desc {
  @include fs(16px, 14px);
  font-weight: 500;
  @include mb(32px, 16px);
}

.mv {
  .mvBox {
    width: 100%;
  }
}

.canDo {
  @include width(calc(100% - ((100% - 1120px) * 1/2)), calc(100% - ((100% - 720px) * 1/2)), 100%);
  @include p(96px 0 0, 80px 0 0, 48px 20px 0);
  @include ml(auto, auto, 0);
}

.whatArea {
  @include pt(120px, 80px, 48px);

  .ttl {
    @include corapuraTtl;
    justify-content: center;
  }

  .imgBox {
    @include width(711px, 500px, 100%);
    margin: auto;
    @include mb(32px, 24px);
  }

  .cont3__text1,
  .cont3__text2 {
    @include fs(16px, 14px, 14px);
    font-weight: 500;
    color: #555555;
    text-align: center;
  }

  .txt {
    @include fs(16px, 14px);
    font-weight: 500;
    text-align: center;

    &:nth-of-type(1) {
      @include mb(48px, 24px);
    }
  }
}

.recommendArea {
  text-align: center;
  @include pt(80px, 80px, 48px);

  .ttl {
    @include fs(24px, 20px);
    font-weight: 900;
    color: $b8;
    @include mb(40px, 24px);
  }

  .imgBox {
    width: 100%;

    img {
      margin: auto;
    }
  }
}

.meritArea {
  @include pt(96px, 80px, 48px);
}

.matchArea {
  @include side($o3);
  @include mt(128px, 80px, 48px);
  @include pt(102px, 80px, 48px);
  background-color: $o3;
  overflow: hidden;
}

.companyArea {
  @include side($o3);
  @include pt(128px, 80px, 48px);
  background-color: $o3;
  overflow: hidden;
}

.userArea {
  @include side($o3);
  background-color: $o3;
  overflow: hidden;
  @include p(128px 0, 80px 0, 48px 0);
}

.releaseArea {
  @include side($w1);
  overflow: hidden;
  @include pt(96px, 80px, 48px);
}

.salonArea {
  @include pt(128px, 80px, 48px);
  @include side($w1);

  .salonBox {
    @include flex(stretch);
    @include gap(16px);
    @include mb(40px, 32px);

    .imgBox {
      position: relative;
      border-radius: 10px;
      overflow: hidden;

      &:hover {
        img {
          transform: scale(1.1);
        }
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        transition: .3s ease;
      }

      .contBox {
        position: absolute;
        left: 0;

        p {
          @include p(2px 10px);
          background-color: $w1;
          width: fit-content;

          &.salonName {
            @include fs(20px, 16px);
            font-weight: bold;
          }

          &.salonDesc {
            @include fs(12px);
            font-weight: 500;
            @include mt(4px);
          }
        }
      }
    }

    .left {
      .imgBox {
        display: block;
        @include width(496px, 340px, 100%);
        aspect-ratio: 1 / 1;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }

        .contBox {
          @include p(0 16px, 0 8px);
          @include bottom(20px, 16px, 8px);
        }
      }
    }

    .right {
      @include width(calc(100% - (496px + 16px)), calc(100% - (340px + 16px)), 100%);
      @include flex();
      @include gap(16px);

      .imgBox {
        display: block;
        @include width(calc(100% * 1/2 - 8px));
        @include height(calc(496px * 1/2 - 16px * 1/2), calc(340px * 1/2 - 16px * 1/2), unset);

        @include media1(sp) {
          aspect-ratio: 37 / 30;
        }

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }

        .contBox {
          @include p(0 8px);
          @include bottom(8px);
        }
      }
    }
  }
}

.couponArea {
  overflow: hidden;
  @include pt(128px, 80px, 48px);
  @include side($w1);
}

.presidentArea {
  overflow: hidden;
  @include pt(128px, 80px, 48px);
  @include side($w1);
}

.infoArea {
  @include pt(128px, 80px, 48px);
  @include side($w1);
}

.nameCardArea {
  overflow: hidden;
  @include pt(128px, 80px, 48px);
  @include side($w1);
}

.nftArea {
  overflow: hidden;
  @include pt(128px, 80px, 48px);
  @include side($w1);
}

.sdgsArea {
  overflow: hidden;
  @include pt(128px, 80px, 48px);
  @include side($w1);
}

.sponsorArea {
  @include pt(128px, 80px, 48px);
  @include side($w1);
}

.hobbyArea {
  @include pt(128px, 80px, 48px);
  @include side($w1);
}

.btnFlex {
  @include flex(center, center);
  @include gap(24px);
  @include mt(48px);

  a {
    margin: 0;

    @include media1(tab1) {
      width: calc(50% - 24px / 1/2);
    }

    @include media1(sp) {
      width: 384px;
    }
  }
}