@import '../../variables.scss';

.headFlex {
  @include flex(center);
  @include gap(64px, 40px, 32px);
  @include mb(64px);

  .headLeft {
    @include width(352px, 300px, 100%);
    aspect-ratio: 1 / 1;
    border-radius: 10px;
    overflow: hidden;
    position: relative;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: top center;
    }

    .bookmarkBtn {
      @include corapuraBookmark(unset);
      @include bottom(16px);
    }
  }

  .headRight {
    @include width(calc(100% - (352px + 64px)), calc(100% - (300px + 40px)), 100%);

    .cat {
      @include fs(16px, 14px);
      font-weight: 500;
      color: $g3;
      @include mb(8px);
    }

    .ttl {
      @include fs(32px, 24px, 20px);
      font-weight: 900;
      @include mb(16px);
    }

    .tags {
      @include flex(center, left);
      @include gap(16px);

      .tag {
        @include p(2px 16px);
        @include fs(13px, 12px);
        font-weight: bold;
        border-radius: 12px;
        background-color: $g2;
      }
    }

    .company {
      @include companyNicename(16px, 14px);
      @include mt(40px, 32px);

      .logoBox {
        @include width(48px, 40px);
        @include height(48px, 40px);
      }
    }
  }
}

.editArea {
  @include pt(64px, 48px);
}

.btnFlex {
  @include flex(center, center);
  @include gap(48px, 32px);
  @include mt(64px, 48px);

  .btn {
    @include btn;
    margin: 0;
    @include m(0);

    &.btn2 {
      background-color: $b11;
      background-image: none;

      span {
        color: $b8;
      }
    }

    &.check {
      background-color: $g1;
      background-image: none;

      &:hover {
        opacity: 1;
        cursor: auto
      }
    }
  }
}

.myMatterBox {
  @include pt(120px, 80px, 64px);
  @include width(720px, 100%);
  margin: auto;

  .ttl2 {
    @include fs(24px, 20px, 18px);
    font-weight: 900;
    text-align: center;
    @include mb(40px, 32px);
  }

  .list {
    @include flex(center);
    @include gap(24px, 16px);
    @include mb(32px, 32px, 64px);

    @include media1(sp) {
      flex-direction: column;
      align-items: start;
    }

    .left {
      @include flex(center, left);
      @include gap(16px);
    }

    .right {
      @include flex(center, right);
      @include gap(16px);
    }

    .imgBox {
      @include width(40px);
      aspect-ratio: 1 / 1;
      border-radius: 50%;
      overflow: hidden;
      box-shadow: 0 3px 6px rgba(0, 0, 0, .16);
      background-color: $g3;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: top center;
      }
    }

    .name {
      @include fs(16px, 14px);
      font-weight: 500;
      text-decoration: underline;

      &:hover {
        text-decoration: none;
      }
    }

    select {
      @include select(120px);
      cursor: pointer;
    }

    .btn3 {
      display: block;
      @include p(4px 16px);
      @include fs(14px, 12px);
      font-weight: bold;
      background-color: $o1;
      color: $w1;
      border-radius: 8px;
    }
  }
}

.popupArea {
  @include modalBox;
  @include flex(center, center);

  .popupBox {
    width: fit-content;
    @include max-width(fit-content, fit-content, calc(100% - 20px * 2));
    @include p(40px 64px, 32px 40px, 24px);
    background-color: $w1;
    border-radius: 10px;
    cursor: auto;

    p {
      @include fs(24px, 20px, 18px);
      font-weight: 500;
      @include mb(40px, 32px);
    }

    .buttonFlex {
      @include flex(center, center);
      @include gap(16px);

      button {
        @include width(120px, 100px, 80px);
        @include height(40px, 32px);
        border: 1px solid $b4;
        border-radius: 20px;
        transition: .3s ease;

        &:hover {
          background-color: $b4;
          color: $w1;
        }
      }
    }
  }
}