@import '../../variables.scss';

.matterCard {
  a {
    display: block;

    &:hover {
      .imgBox {
        img {
          transform: scale(1.1);
        }
      }
    }

    .imgBox {
      overflow: hidden;
      @include mb(16px, 10px);
      border-radius: 10px;

      img {
        transition: .3s ease;
      }
    }

    .tag {
      @include fs(14px, 12px);
      font-weight: bold;
      @include mb(6px, 4px);
      color: $g1;
    }

    .ttl {
      @include fs(18px, 16px);
      font-weight: bold;
      @include mb(8px);
    }

    .desc {
      @include fs(14px);
      font-weight: 500;
      @include mb(6px, 4px);
      color: $g4;
    }

    .date {
      @include flex(center, left);
      @include gap(8px, 6px);
      @include mb(8px, 4px);
      @include fs(16px, 13px);
      font-weight: 500;

      .icon {
        @include tag;
      }
    }

    .company {
      @include companyNicename(12px);
    }
  }
}