@import '../../variables.scss';

.nameCard {
    display: block;
    aspect-ratio: 22 / 13;
    @include width(352px);
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: top left;
    }
}

.txt {
    @include fs(16px, 14px);
    font-weight: 500;
    color: $w1;
    @include mt(8px);
}

.modalBox {
    width: fit-content;
    margin: auto;
    cursor: auto;
    max-width: 800px;

    .nameCard {
        width: 100%;
    }
}
