@import '../../variables.scss';

.releaseLink {
  @include width(352px);

  &:hover {
    .imgBox {
      img {
        transform: scale(1.1);
      }
    }
  }

  .imgBox {
    @include mb(16px);
    border-radius: 10px;
    overflow: hidden;

    img {
      transition: .2s ease
    }
  }

  .ttl {
    @include fs(16px, 14px);
    font-weight: $bold;
    @include mb(16px);
  }

  .view {
    @include fs(13px);
    font-weight: $semibold;
    @include flex(center, left);
    gap: 8px;
    @include mb(8px);
  }

  .company {
    @include companyNicename(12px);
    @include mb(10px);
  }

  .tag {
    @include tag2;
  }
}