@import '../../variables.scss';

.person__list {
  @include flex(stretch, left);
  @include gap(32px, 32px 16px);

  .person__item {
    @include width(calc(20% - 32px * 4/5), calc(20% - 16px * 4/5), calc(50% - 16px * 1/2));
    text-align: center;

    &:hover {
      .imgBox {
        img {
          transform: scale(1.1);
        }
      }
    }

    .imgBox {
      width: 100%;
      overflow: hidden;
      border-radius: 50%;
      @include mb(10px);

      img {
        transition: .2s ease;
        width: 100%;
      }
    }

    .jp {
      @include fs(20px, 18px);
      font-weight: bold;
      @include mb(4px);
    }

    .en {
      @include fs(13px, 10px);
      font-weight: 600;
      color: $g1;
    }

    .catch {
      @include fs(14px, 12px);
      font-weight: bold;
      color: $g1;
      @include mt(10px);
    }
  }
}