@import '../../variables.scss';

.adminForm {
  input[type="text"] {
    @include input(100%);
  }

  .thumbsBox {
    display: block;
    width: fit-content;
    @include p(8px 32px);
    @include fs(16px, 14px);
    font-weight: bold;
    color: $w1;
    background-color: $o1;
    border-radius: 8px;
    cursor: pointer;
    margin: auto;

    &.disabled {
      background-color: $g2;
      color: $g3;
      pointer-events: none;
    }

    input[type="file"] {
      width: 0;
      height: 0;
      opacity: 0;
    }
  }

  textarea {
    @include textarea(100%);
    @include height(140px, 100px);
  }

  .checkBtn {
    cursor: pointer;
    display: block;
    border: 1px solid $g3;
    border-radius: 50px;
    width: fit-content;
    @include flex(center);
    position: relative;
    overflow: hidden;

    span {
      @include fs(12px);
      @include width(50px);
      font-weight: bold;
      @include flex(center, center);
      @include p(4px 0);
    }

    &::after {
      content: "";
      @include width(50px);
      height: 100%;
      background-color: $o1;
      position: absolute;
      top: 0;
      left: 0;
      border-radius: 50px;
    }

    &.on {
      &::after {
        left: unset;
        right: 0;
      }
    }

    input[type="checkbox"] {
      width: 0;
      height: 0;
      opacity: 0;
    }
  }

  input,
  textarea {
    &:disabled {
      background-color: $g2;
    }
  }

  dl {
    @include mb(32px);

    &:last-of-type {
      margin-bottom: 0;
    }

    dt {
      @include fs(18px, 16px, 14px);
      font-weight: 500;
      @include mb(8px);

      span {
        @include fs(14px, 12px);

        a {
          text-decoration: underline;

          &:hover {
            text-decoration: none;
          }
        }
      }
    }

    dd {
      .imgBox {
        width: 100%;
        border: 1px solid $g1;
        border-radius: 20px;
        overflow: hidden;
        @include mb(16px);

        .imgNone {
          background-color: $g2;
          @include height(504px, 400px, calc(140vw - 20px * 2));
          @include flex(center, center);
          @include fs(16px, 14px);
          @include p(0 20px);
          font-weight: 500;
          color: $g1;
          text-align: center;
        }

        img {
          width: 100%;
          object-fit: cover;
          object-position: top;
        }
      }

      .txt {
        @include fs(16px, 14px);
        color: $g1;
        font-weight: 500;
        @include mt(4px);
      }

      &.profileThumbs {
        @include flex(center, left);
        @include gap(24px);

        .imgBox {
          @include width(150px);
          @include height(150px);
          border-radius: 50%;
          margin: 0;
        }

        .imgNone {
          height: 100%;
          @include fs(14px, 12px);
        }

        img {
          height: 100%;
        }

        .thumbsBox {
          margin: 0;
        }
      }
    }
  }
}

.infoTtl {
  @include fs(24px, 18px);
  font-weight: 500;
  @include mb(16px);
}

.desc {
  @include fs(16px, 14px);
  font-weight: 500;
  @include mb(32px);
}

.infoFlex {
  @include flex(stretch);
  @include gap(40px, 32px);

  .infoLeft {
    @include width(320px, 250px, 100%);
  }

  .infoRight {
    @include width(calc(100% - (320px + 40px)), calc(100% - (250px + 32px)), 100%);
  }
}

.error {
  color: $o1;
  @include mt(8px);
}

.btn {
  display: block;
  @include p(8px 32px);
  background-color: $o1;
  @include fs(16px, 14px);
  border-radius: 8px;
  color: $w1;
  font-weight: bold;
  margin: auto;
  @include mt(40px);

  &.btn2 {
    @include m(0 0 32px);
  }

  &.btn3 {
    color: $b3;
    background-color: $g3;
  }
}

.check {
  @include m(64px 0, 48px 0);

  label {
    @include flex(center, center);
    @include gap(4px);
    @include fs(20px, 18px);
    font-weight: 500;
    width: fit-content;
    margin: auto;

    a {
      text-decoration: underline;
      color: $b5;

      &:hover {
        text-decoration: none;
      }
    }
  }
}

.require,
.any {
  @include fs(14px, 12px);
  color: $w1;
  font-weight: 500;
  background-color: $o1;
  @include p(2px 6px);
  border-radius: 4px;
  @include mr(8px);
}

.btnFlex {
  @include flex(center, center);
  @include gap(16px);
  @include mt(32px);

  .btn {
    margin: 0;
  }
}

.popupArea {
  @include modalBox;
  overflow-y: scroll;
  @include scrollHidden;

  .popupBox {
    @include min-height(calc(100vh - 80px * 2), calc(100vh - 64px * 2), calc(100vh - 40px * 2));
    @include p(40px 40px 64px, 32px 32px 64px, 20px 20px 64px);
    background-color: $w1;
    border-radius: 20px;
    cursor: auto;
    position: relative;

    .midashi {
      @include fs(24px, 20px, 18px);
      font-weight: 500;
      text-align: center;
      @include mb(32px);
    }

    dl {
      @include mb(32px);

      dt {
        @include fs(16px, 14px);
        font-weight: bold;
        @include mb(8px);

        label {
          cursor: pointer;
        }
      }

      dd {
        input[type="text"],
        input[type="url"] {
          @include input(100%);
        }

        input[type="date"] {
          @include input(200px);
        }

        input[type="checkbox"] {
          cursor: pointer;
        }

        select {
          @include select(200px);
        }

        .imgBox {
          @include width(184px);
          max-height: 184px;
          border: 1px solid $g1;
          border-radius: 20px;
          overflow: hidden;
          @include mb(16px);

          .imgNone {
            height: 184px;
            background-color: $g2;
            @include flex(center, center);
            @include fs(12px);
            font-weight: 500;
            color: $g1;
          }

          img {
            width: 100%;
            object-fit: cover;
            object-position: top;
          }
        }
      }
    }

    .btn {
      position: absolute;
      @include bottom(40px, 32px, 20px);
      left: 50%;
      transform: translateX(-50%);
    }
  }
}

.authBox {
  @include flex(center, center);
  @include gap(32px);

  .btnCover {
    margin: 0;
  }

  button,
  a {
    margin: 0;
  }
}

.error2 {
  text-align: center;
}