@import '../../variables.scss';

.loginBox {
  text-align: center;

  .inputBox {
    @include mb(24px);

    &:last-of-type {
      @include mb(40px);
    }

    input {
      @include input(672px, 100%);
      margin: auto;
      @include pl(56px, 48px);
      background-repeat: no-repeat;
      background-position: 24px center;

      @include media1(tab1) {
        background-position: 16px center;
      }

      &.email {
        background-image: url(../../../images/dellamall/login/mail.svg);
      }

      &.password {
        background-image: url(../../../images/dellamall/login/password.svg);
      }

      &::placeholder {
        font-family: $Montserrat;
      }
    }

    .passwordBox {
      width: fit-content;
      margin: auto;
      position: relative;

      .view {
        @include fs(14px, 12px);
        font-weight: bold;
        cursor: pointer;
        position: absolute;
        top: 50%;
        @include right(16px, 12px);
        transform: translateY(-50%);
      }
    }
  }

  .forgot {
    @include fs(16px, 14px);
    font-weight: 500;
    color: $g1;
    @include mt(24px);

    a {
      @include fs(16px, 14px);
      font-weight: 500;
      color: $b3;
      text-decoration: underline;

      &:hover {
        text-decoration: none;
      }
    }
  }
}