@import '../../variables.scss';

.user__info {
  text-align: center;

  .user__info__img {
    @include width(150px);
    @include height(150px);
    border-radius: 50%;
    overflow: hidden;
    margin: auto;
    @include mb(40px);
  }

  .user__info__name {
    @include fs(32px, 24px);
    font-weight: $medium;
    @include mb(8px);
  }

  .user__info__id {
    @include fs(16px, 14px);
    font-weight: $medium;
    color: $g1;
    @include mb(40px);
  }

  .user__info__follow {
    @include flex(center, center);
    @include gap(32px, 24px);
    @include mb(40px);

    li {
      @include fs(20px, 18px);
      font-weight: $medium;
    }
  }

  .user__info__text {
    @include fs(16px, 14px);
    font-weight: $medium;
    max-width: 737px;
    margin: auto;
  }
}

.user__buttonList {
  @include flex(center, center);
  @include gap(20px);

  @include media1(sp) {
    flex-direction: column;
  }
}