@import '../../variables.scss';

.iconBox {
  position: relative;
  z-index: 999;
  cursor: pointer;
  transition: .2s ease-out;
}

.searchBtn {
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;

  .icon {
    @include width(20px);
  }

  input {
    display: block;
    padding: 0;
    border: none;
    width: 0;
    background-color: transparent;
    transition: .2s ease-out;
    outline: none !important;
    font-size: var(--fs14-12);
    letter-spacing: 0;
    background-color: $w1;

    &:focus {
      @include width(200px);
      @include height(24px);
      @include p(2px 8px);
    }

    &::placeholder {
      font-family: $Montserrat;
      font-weight: bold;
    }
  }
}