@import '../../variables.scss';

.cont1__flex {
  @include flex(stretch);

  @include media1(sp) {
      display: block;
  }
}

.cont1__flexLeft,
.cont1__flexRight {
    @include width(calc(50% - 56px * 1/2), calc(50% - 40px * 1/2), 100%);
}

.cont1__flexLeft {
  @include mb(0, 0, 16px);

  .cont1__imgBox {
    display: block;
    border: 1px solid $g1;
    border-radius: 20px;
    overflow: hidden;

    img {
      object-fit: cover;
      object-position: top;
    }

    .imgNone {
      @include height(90vh, 80vh, calc(140vw - 20px * 2));
      background-color: $g2;
      @include flex(center, center);
      @include p(20px);
      @include fs(24px, 20px, 18px);
    }
  }
}

.cont1__flexRight {
  .cont1__flexRight__icon {
    @include flex(center);
    @include mb(32px, 24px);
  }

  .cont1__flexRight__iconLeft,
  .cont1__flexRight__iconRight {
    @include flex(center);

    li > button {
      @include icon(40px, 32px);
    }
  }

  .cont1__flexRight__iconLeft {
    @include gap(40px, 16px);

    li {
      @include flex(center, center);
      @include gap(4px);
      position: relative;

    }

    li > button {
      &:hover {
        background-color: $g2;
      }
    }

    .num {
      @include fs(20px, 18px, 18px);
      font-weight: 600;
    }
  }

  .cont1__flexRight__iconRight {
    @include gap(16px);

    li {
      position: relative;

      .activeArea {
        @include activeBox(320px, 320px, 280px);
        @include p(24px, 20px);

        @include media1(tab1) {
          transform: translateX(0);
          left: unset;
          right: 0;
        }

        .activeTtl {
          @include fs(18px, 16px);
          font-weight: bold;
          text-align: center;
          @include mb(8px);
        }

        .activeFlex {
          @include flex(center, left);
          @include gap(8px);
        }

        .spamBox {
          .spamBtn {
            display: block;
            width: fit-content;
            @include fs(14px, 12px);
            font-weight: bold;
            letter-spacing: 0;
            @include mb(10px);
            transition: .2s ease-out;

            &:last-of-type {
              margin-bottom: 0;
            }

            &:hover {
              opacity: .5;
            }
          }
        }
      }

      .spamModal {
        @include modalBox;

        .modalArea {
          background-color: $w1;
          @include p(40px, 32px, 20px);
          text-align: center;
          border-radius: 20px;
          cursor: auto;

          .check {
            @include fs(20px, 18px, 16px);
            font-weight: 500;
            @include mb(24px);

            span {
              font-weight: bold;
            }
          }

          .btnFlex {
            @include flex(center, center);
            @include gap(40px, 32px, 24px);

            @include media1(sp) {
              flex-direction: column;
            }

            .btn {
              @include btn1(240px, 48px, 200px, 40px);
              box-shadow: 4px 4px rgba(0, 0, 0, .16);

              &.btn2 {
                background-color: $g1;
              }

              &:hover {
                transform: translate(4px, 4px);
              }
            }
          }
        }
      }
    }

    li > button {
      background-color: $g2;
    }
  }
}

.cont1__flexRight__topUrl {
  @include flex(center, left);
  @include gap(8px);
  flex-wrap: nowrap;
  @include mb(24px, 16px);

  .official_icon {
    @include width(20px);
    @include height(20px);
    border-radius: 50%;
    @include flex(center, center);
    background-color: $o1;

    * {
      color: $w1;
      font-size: 12px;
    }
  }

  a {
    @include fs(14px, 12px);
    font-weight: bold;
    letter-spacing: 0;
    text-decoration: underline;

    &:hover {
      text-decoration: none;
    }
  }
}

.cont1__flexRight__topName {
  @include fs(40px, 30px);
  font-weight: bold;
  letter-spacing: 0;
  @include mb(10px);
}

.cont1__flexRight__topWords {
  @include flex(flex-start, left);
  gap: 8px;
  @include mb(32px, 24px);
}

.keyWord__item {
  @include trendIcon;
}

.cont1__flexRight__middleText {
  @include fs(16px, 14px);
  font-weight: 500;
  @include mb(28px, 24px);
}

.cont1__flexRight__middleComment {
  @include mb(48px, 40px, 32px);

  .total {
    @include fs(20px, 18px);
    font-weight: 500;
    @include flex(center, left);

    button {
      @include icon(40px, 32px);
      @include ml(12px);

      &:hover {
        background-color: $g2;
      }
    }
  }

  .comment__box {
    max-height: 250px;
    overflow-y: scroll;
    @include mb(40px, 32px);
    @include scrollHidden;

    ul {
      overflow: hidden;
      transition: .5s ease-out;

      li {
        @include flex(center, left);
        @include gap(16px, 12px);
        @include mt(16px, 12px);

        .user__img {
          @include userIcon(40px, 40px, 32px);
        }

        .user__comment {
          @include width(calc(100% - (40px + 96px + 16px * 2)), calc(100% - (40px + 84px + 12px * 2)), calc(100% - (32px + 84px + 12px * 2)));

          .name,
          .content {
            @include fs(12px, 10px);
            font-weight: 500;
            white-space: pre-wrap;
          }

          .name {
            text-decoration: underline;

            &:hover {
              text-decoration: none;
            }
          }
        }

        .user__right {
          button {
            @include width(96px, 84px);
            @include flex(center, right);
            @include gap(4px);

            span {
              @include fs(12px, 10px);
              font-weight: 500;
            }

            &.on {
              svg,
              svg * {
                color: $o1;
              }
            }

            &:hover {
              svg,
              svg * {
                color: $o1;
              }
            }
          }

          .spamLink {
            display: block;
            @include fs(12px, 10px);
            font-weight: 500;
            text-align: right;
            @include mt(6px);
          }
        }
      }
    }
  }

  .comment__input {
    @include flex(center, left);
    @include gap(16px, 12px);

    .user__img {
      @include userIcon(56px, 56px, 40px);
    }

    textarea {
      @include width(calc(100% - (56px + 16px * 2 + 40px)), calc(100% - (56px + 12px * 2 + 40px)), calc(100% - (40px + 12px * 2 + 40px)));
      @include height(56px);
      @include p(12px 16px);
      @include fs(14px, 12px);
      border: 1px solid $g4;
      border-radius: 20px;

      &::placeholder {
        color: $g3;
      }
    }

    .comment__submit {
      @include width(40px);
      @include height(24px);
      background-color: $o1;
      color: $w1;
      font-weight: bold;
      @include fs(12px, 10px);
      border-radius: 8px;
    }
  }
}

.cont1__flexRight__bottom {
  background: $g2;
  border-radius: 20px;
  text-align: center;
  @include p(16px 40px 24px, 16px 32px, 16px);

  p {
    @include fs(16px, 14px);
    font-weight: 500;
    @include mb(16px, 12px);
  }

  ul {
    @include flex(center, center);
    @include gap(16px, 16px, 4px);

    li {
      &.socialList {
        @include width(36px, 32px);
        @include height(36px, 32px);
      }

      &.salonList {
        a {
          @include p(6px 10px);
          background-color: $b3;
          color: $w1;
          @include fs(12px, 10px);
          font-weight: bold;
          border-radius: 20px;
        }
      }
    }
  }

  .noneSocial {
    @include fs(16px, 14px);
    font-weight: 500;
  }
}

.cont1__flexLeft__btnFlex {
  @include flex(center, center);
  @include gap(8px);
  @include mt(16px);
}

.contactLink {
  @include p(4px 16px);
  @include fs(14px, 12px);
  background-color: $o1;
  color: $w1;
  font-weight: bold;
  border-radius: 16px;
  text-align: center;

  &.on {
    background-color: $g3;
    color: $b3;
  }
}