@import '../../variables.scss';

.desc {
  @include fs(18px, 16px);
  font-weight: 500;
  text-align: center;
  @include mb(48px, 40px, 32px);
}

.loginBox {
  @include width(900px);
  @include p(56px 40px 64px);
  border-radius: 10px;
  background-color: $w1;
  box-shadow: 0 3px 6px rgba(0, 0, 0, .16);
  margin: auto;

  .inputBox {
    @include width(544px);
    margin: auto;
    @include mb(24px);

    &:last-of-type {
      @include mb(40px, 32px);
    }

    label {
      @include fs(18px, 16px);
      font-weight: bold;
      @include flex(center, left);
      @include gap(24px, 16px);
      @include mb(10px);

      &::before {
        content: "";
        display: block;
        width: 3px;
        @include height(18px, 16px);
        background-color: $b13;
      }
    }

    input {
      @include bjcInput(100%);
    }
  }

  .forgot {
    @include fs(16px, 14px);
    font-weight: 500;
    text-align: center;
    color: $g1;

    a {
      color: $b13;
      text-decoration: underline;
      @include mt(24px);

      &:hover {
        text-decoration: none;
      }
    }
  }
}

.bottomArea {
  @include p(80px 0, 64px 0);
}