@import '../../variables.scss';

.signOutBox {
    .signOutIcon {
        @include width(64px, 56px, 48px);
        margin: auto;
        @include mb(32px, 32px, 24px);
    }

    .desc {
        @include fs(18px, 16px);
        font-weight: bold;
        text-align: center;
        color: $r1;
        @include mb(40px, 32px);
    }

    .txtBox {
        @include mb(64px, 56px, 40px);

        div {
            @include p(12px);
            @include fs(18px, 16px);
            font-weight: bold;
            background-color: $g1;
            color: $w1;
            text-align: center;
        }

        dl {
            @include p(24px 64px, 20px 40px, 20px);
            border: 3px solid $g1;
            @include flex(stretch, left);
            @include gap(8px);

            dt {
                @include fs(14px);
                @include width(1em);
                @include mb(16px);
            }

            dd {
                @include fs(14px);
                @include width(calc(100% - (1em + 8px)));

                a {
                    @include fs(14px);
                    color: $b5;
                    text-decoration: underline;

                    &:hover {
                        text-decoration: none;
                    }
                }
            }
        }
    }

    .desc2 {
        @include fs(16px, 14px);
        font-weight: bold;
        text-align: center;
        @include mb(32px);

        span {
            color: $r1;
        }
    }

    .btnBox {
        @include mb(80px, 64px);

        div {
            &.hold {
                button {
                    background-color: $g3;
                    cursor: auto;

                    &:hover {
                        opacity: 1;
                    }
                }
            }
        }

        .btn {
            margin: auto;
            @include mt(24px, 16px);
        }
    }
}

.popupArea {
    @include modalBox;
    overflow-y: scroll;
    @include scrollHidden;
    @include flex(center, center);

    .popupBox {
        @include width(600px, 400px, calc(100% - 20px * 2));
        @include p(40px 40px 64px, 32px 32px 64px, 20px 20px 64px);
        background-color: $w1;
        border-radius: 20px;
        cursor: auto;
        position: relative;

        h3 {
            @include fs(24px, 20px, 18px);
            font-weight: 500;
            text-align: center;
            @include mb(40px, 32px);
        }

        .btnBox {
            @include flex(center, center);
            @include gap(16px);
        }

        button {
            @include width(80px);
            @include height(32px);
            @include flex(center, center);
            @include fs(16px, 14px);
            font-weight: 500;
            border: 1px solid $b8;
            border-radius: 20px;
            transition: 0.3s ease;
            color: $b8;

            &:hover {
                background-color: $b8;
                color: $w1;
            }
        }
    }
}
